html,
body
    height: 100%

body
    position: relative
    font-size: 1rem
    font-family: "PT Sans", sans-serif
    -webkit-font-smoothing: antialiased

*, :before, :after
    margin: 0
    padding: 0
    box-sizing: border-box

svg
    pointer-events: none

input,
textarea,
button
    font-family: "PT Sans", sans-serif
    border: none
    outline: none
    border-radius: 0

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
button
    -webkit-appearance: none

fieldset
    border: none

h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: bold
    color: inherit

h1,.h1
	font-size: 2.25rem
	line-height: 3.125rem
h2,.h2
	font-size: 1.875rem
	line-height: 2.125rem
	color: #1A1A1A
	margin-bottom: 35px

h3,.h3
	font-size: 1.5rem
	line-height:
	color: #1A1A1A

h4,.h4
	font-size: 1.125rem
	line-height: 1.688rem
	color: #1A1A1A

h5,.h5

h6,.h6

a
    color: inherit
    text-decoration: none

    &:hover,
    &:active,
    &:focus
        text-decoration: none

li
    list-style: none

.more-link
	font-weight: bold
	font-size: .875rem
	line-height: 1.063rem
	color: var(--vinishkotyan)
	svg
		margin-left: 8px
	&:hover
		color: var(--yellow)
		svg
			fill: var(--yellow)

.scroll
	overflow-y: auto
	&::-webkit-scrollbar
		width: 4px
		height: 4px
	&::-webkit-scrollbar-button
		width: 0
		height: 0
	&::-webkit-scrollbar-thumb
		background: #000000
		border: 0px none #000000
		border-radius: 2px
	&::-webkit-scrollbar-track
		background: var(--light-grey)
		border: 0px none #000000
		border-radius: 0px
	&::-webkit-scrollbar-corner
		background: transparent
	&::-webkit-scrollbar-track-piece
	&::-webkit-resizer

.grid-container
	max-width: 1200px
	width: 100%
	margin: 0 auto
//@media (min-width: 1280px)
	.container, .container-sm, .container-md, .container-lg, .container-xl
		max-width: 1200px
