.icon-geotag{
	width: 14px;
	height: 17px;
	fill: var(--vinishkotyan);
}
.icon-phone{
	width: 16px;
	height: 17px;
	fill: var(--vinishkotyan);
}
.icon-delivery-company{
	width: 29px;
	height: 20px;
	fill: var(--yellow);
}
.icon-delivery-self{
	width: 19px;
	height: 19px;
	fill: var(--yellow);
}
.icon-cart{
	width: 21px;
	height: 21px;
	fill: var(--yellow);
}
.icon-menu{
	width: 16px;
	height: 13px;
	fill: #fff;
}
.icon-search{
	width: 13px;
	height: 13px;
	stroke: #000000;
}
.icon-button-arrow{
	width: 18px;
	height: 10px;
	fill: #fff;
}
.icon-timer{
	width: 10px;
	height: 10px;
	fill: #fff;
}
.icon-star{
	width: 12px;
	height: 11px;
	fill: #DF4C4C;
}
.icon-product_add_to_cart{
	width: 19px;
	height: 14px;
	fill: var(--white);
}
.icon-product_in_cart{
	width: 18px;
	height: 18px;
	fill: var(--vinishkotyan)
}
.icon-arrow-more{
	width: 20px;
	height: 10px;
	fill: var(--vinishkotyan);
}
