$white: #fff;
$yellow: #FFD400;
$vinishkotyan: #A70230;
$pink: #FFD0BE;
$beige: #EADBC4;
$sochperc: #FFF2C9;
$light-pink: #FDF0E2;
$grey-text: #8E96A3;
$light-grey: #E6E9EF;
$black: #000;
$gryaz-grey: #C4C4C4;
$badge-red: #DF4343;
$badge-yellow: #FFB800;
$badge-green: #94B035;
$badge-blue: #3581B0;
$badge-dark-green: #35B07D;
$color-grey: #ACACAC;

:root{
	--white: #{$white};
	--yellow: #{$yellow};
	--vinishkotyan: #{$vinishkotyan};
	--pink: #{$pink};
	--beige: #{$beige};
	--sochperc: #{$sochperc};
	--light-pink: #{$light-pink};
	--grey-text: #{$grey-text};
	--light-grey: #{$light-grey};
	--black: #{$black};
	--gryaz-grey: #{$gryaz-grey};
	--badge-red: #{$badge-red};
	--badge-yellow: #{$badge-yellow};
	--badge-green: #{$badge-green};
	--badge-blue: #{$badge-blue};
	--badge-dark-green: #{$badge-dark-green};
	--color-grey: #{$color-grey};
}

