:root{
	--white: #fff;
	--yellow: #FFD400;
	--vinishkotyan: #A70230;
	--pink: #FFD0BE;
	--beige: #EADBC4;
	--sochperc: #FFF2C9;
	--light-pink: #FDF0E2;
	--grey-text: #8E96A3;
	--light-grey: #E6E9EF;
	--black: #000;
	--gryaz-grey: #C4C4C4;
	--badge-red: #DF4343;
	--badge-yellow: #FFB800;
	--badge-green: #94B035;
	--badge-blue: #3581B0;
	--badge-dark-green: #35B07D;
	--color-grey: #ACACAC;
}

