extends _layouts/_base

append vars
	-
		var title = 'Корзина. По времени'

block content
	section.section.section-catalog
		.section-container
			.breadcrumbs
				ul.breadcrumbs__list
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная
					li.breadcrumbs__item
						span Корзина
			.section-header
				.section-title
					h1 Корзина
				.section-products-quantity 4 товара
			.section-content

				.cart
					.cart-by-time__container
						.cart-address.submited
							.cart-address__title Заказ будет доставлен по адресу:
							.cart-address__address ул. Хорошёвского Серебряного Бора 2-я линия, 51 ст1
							.cart-address__change
								.link-icon
									a.link-icon__text(href="#") Изменить адрес

							.cart-address__form.form
								.form_row
									.form_group.cart-field__city
										label.form_label
											input.form_input(type="text", placeholder="Москва")
											.link-icon
												.link-icon__icon
													+icon('pen')
												a.link-icon__text(href="#") Изменить город
									.form_group.cart-field__street
										label.form_label
											input.form_input(type="text", placeholder="Улица, дом")
									.form_group.cart-field__appartaments
										label.form_label
											input.form_input(type="text", placeholder="Квартира")
									.form_group.cart-field__floor
										label.form_label
											input.form_input(type="text", placeholder="Этаж")
									.form_group.cart-field__submit
										input.form_input.button.button__color__red.button__arrow.inline(type='submit', value='')

						.cart-message
							| 2 товара на сумму 1100 Р можно получить уже в течение 90 минут, на 2 товара на сумму 1100 Р оформите самовывоз со скидкой на 10.05

						.by-time-header
							.by-time-header-title
								.by-time-header-title__icon
									+icon('clock-empty')
								.by-time-header-title__text Доставим за 90 минут
								.by-time-remove-order
									a.link-icon(href="")
										.link-icon__icon
											+icon('trash-red')
										.link-icon__text Удалить заказ
								.by-time-btn
									a.button(href="") Доставить завтра

						.cart-product-list
							+cart_product('1', 'Торт Блинный со сгущенным молоком ', 'Кофе «Арабика», вареная сгущенка и вкуснейшие домашние блины ','750 ₽','1000 ₽')
							+cart_product('2','Сардельки из индейки','Сардельки в натуральной оболочке из диетического мяса птицы, филе индейки и шпика','350 ₽','1000 ₽')
							+cart_product('3','Торот облепиха','С приятным солодовым ароматом, с  семенами подсолнечника и льна','750 ₽','1000 ₽')
							+cart_product('4','Торт прага','Кофе «Арабика», вареная сгущенка   и вкуснейшие домашние блины ','350 ₽','1000 ₽')


						.cart-delivery
							.cart-delivery__form.form
								.form_row
									.form_group.cart-delivery__type
										label.form_label
											.form_label--text Способ доставки
											.dropdown-select(data-dropdown='select')
												input.dropdown-select__value(type='hidden', value='')
												.dropdown-select__label
													.dropdown-select__label__text Самовывоз
												ul.dropdown-select__list
													li.dropdown-select__item.active(data-value='Самовывоз') Самовывоз
													li.dropdown-select__item(data-value='Доставка') Доставка
									.form_group.cart-delivery__shops
										label.form_label
											.form_label--text Магазины
											input.form_input(type="text", placeholder="Выбрать")
									.form_group.cart-delivery__date
										label.form_label
											.form_label--text Дата
											input.form_input(type="text", placeholder="__/__/____")
									.form_group.cart-delivery__time
										label.form_label
											.form_label--text Время
											input.form_input(type="text", placeholder="9:00 - 11:00")

						.cart-order
							.cart-order-sum
								.cart-order-sum__text Сумма заказа:
								.cart-order-sum__value 1850 ₽

						.cart-customer-form
							.form_row
								.form_col.cart-customer__info
									.form_col__inner
										.form_title Данные покупателя
										.form_group
											label.form_label
												input.form_input(type="text", placeholder="Имя")
										.form_group
											label.form_label
												input.form_input(type="text", placeholder="Фамилия")
										.form_group
											label.form_label
												input.form_input(type="text", placeholder="E-mail")
										.form_group
											label.form_label
												input.form_input(type="text", placeholder="+7 (xxx) xxx-xx-xx")
								.form_col.cart-customer__comment
									.form_col__inner
										.form_title Комментарии к заказу
										.form_group
											label.form_label
												textarea.form_textarea(placeholder="Ваш комментарий")

							.form_row
								.form_col
									.form_col__inner
										.form_group
											label.form_label.checkbox__label
												input.checkbox__input(type="checkbox", checked="checked")
												.checkbox__emulator
												.checkbox__text
													span Даю согласие на обработку
													=" "
													a(href="", target="_blank") персональных данных
										.form_group.form_submit
											.form_group
												input.button.button__arrow(type="submit", value="Оформить заказ")

										.form_group.promocode
											label.form_label
												input.form_input(type="email", placeholder="У вас есть промокод?")
												input.form_input.button.button__arrow.button__arrow__red.inline(type="submit", value="")

	section.section.products-slider
		.section-container
			.section-header
				.section-title
					h2.h1 Не забудьте купить
				.swiper-button.inline
					.swiper-button-prev
					.swiper-button-next
			.section-content
				.products__list.swiper-container(data-slider-name="slider-buy-it")
					.swiper-wrapper
						.swiper-slide
							+products__item('products__item__slide__img_1','Пельмени с индейкой','Классические пельмени, которые мы готовим уже более 25 лет. Тонкое тесто и сытное мясо',true,false)
						.swiper-slide
							+products__item('products__item__slide__img_2','Торт Прага','Кофе «Арабика», вареная сгущенка   и вкуснейшие домашние блины',false, false)
						.swiper-slide
							+products__item('products__item__slide__img_3','Торт Ореховый по-королевски','Бисквитные коржи с творожным муссом. Свежий лайм и апельсин',false,false)
						.swiper-slide
							+products__item('products__item__slide__img_4','Торт малиновый','Кофе «Арабика», вареная сгущенка   и вкуснейшие домашние блины',true,false)
						.swiper-slide
							+products__item('products__item__slide__img_1','Пельмени с индейкой','Классические пельмени, которые мы готовим уже более 25 лет. Тонкое тесто и сытное мясо',true,false)
						.swiper-slide
							+products__item('products__item__slide__img_2','Торт Прага','Кофе «Арабика», вареная сгущенка   и вкуснейшие домашние блины',false, false)
						.swiper-slide
							+products__item('products__item__slide__img_3','Торт Ореховый по-королевски','Бисквитные коржи с творожным муссом. Свежий лайм и апельсин',false,false)
						.swiper-slide
							+products__item('products__item__slide__img_4','Торт малиновый','Кофе «Арабика», вареная сгущенка   и вкуснейшие домашние блины',true,false)
					.swiper-scrollbar
