doctype html
html
	head
		meta(charset="utf-8")
		title List
		include _parts/_head
	body(style="background-color: #201b27;")
		div(style="max-width: 1280px; color: #fff; margin: 0 auto; padding: 100px 40px;")
			ul(style="margin-bottom: 60px")
				li: a(href="main.html") Главная
				li: a(href="catalog.html") Каталог
				li: a(href="catalog-list.html") Каталог список
				li: a(href="catalog-list-address-submit.html") Каталог список после заполнения адреса
				li: a(href="catalog-detail.html") Каталог детальная
				li: a(href="search-result.html") Результаты поиска
				li: a(href="search-result-nothing-found.html") Результаты поиска. Ничего не найдено
				li: a(href="page-404.html") 404
