footer.footer
	.footer-top
		.footer-left
			.footer-nav(data-footer-menu="main")
				.footer-heading У Палыча
				.footer-nav__list
					mixin footer-nav__item(item_text)
						.footer-nav__item
							a.footer-nav__link(href="")=item_text
					+footer-nav__item('О компании')
					+footer-nav__item('История успеха')
					+footer-nav__item('Обучение')
					+footer-nav__item('Наши магазины')
					+footer-nav__item('Акции')
					+footer-nav__item('Новости')
					+footer-nav__item('Статьи')
					+footer-nav__item('Контакты')
			.footer-nav(data-footer-menu="catalog")
				.footer-heading Каталог
				.footer-nav__list
					+footer-nav__item('Торты')
					+footer-nav__item('Кондитерские изделия')
					+footer-nav__item('Пироги и выпечка')
					+footer-nav__item('Готовые блюда')
					+footer-nav__item('Блинчики')
					+footer-nav__item('Сыры')
					+footer-nav__item('Замороженные полуфабрикаты')
					+footer-nav__item('Шоколадные изделия')
					+footer-nav__item('Салаты. Заливные')
					+footer-nav__item('Мясная гастрономия')
					+footer-nav__item('Мороженое')
					+footer-nav__item('Напитки')
					+footer-nav__item('Японская кухня')
					+footer-nav__item('Буррито')
					+footer-nav__item('Каши и мюсли')
					+footer-nav__item('Кофе')
					+footer-nav__item('Масло сливочное')
					+footer-nav__item('Пицца')
		.footer-right
			.footer-contact
				form.form.form-subscribe
					.footer-heading Подписаться на рассылку
					.form_row
						.form_group
							label.form_label.subscribe_label
								input.form_input.subscribe_inp(type="email", name="subscribe_input_email", id="subscribe_input_email", placeholder="E-mail")
								input.form_input.button.button__arrow.button__arrow__red.inline.subscribe_btn(type="submit", value="")

					.form_row
						.form_group
							label.form_label.checkbox__label
								input.checkbox__input(type="checkbox", name="subscribe_checkbox", id="subscribe_checkbox", checked="checked")
								.checkbox__emulator
								.checkbox__text
									span Даю согласие на обработку
									=" "
									a(href="", target="_blank") персональных данных

				a.footer-contact__tel(href="tel:+7 999 999 99 99 ") +7 999 999 99 99
				a(href="").link-icon.footer-contact__link
					.link-icon__icon
						+icon('phone')
					.link-icon__text Позвоните нам
				a(href="").link-icon.footer-contact__link
					.link-icon__icon
						+icon('mail')
					.link-icon__text Письмо Палычу


	.footer-bottom
		.footer-copy © У Палыча, 2020 год, все права защищены
		.footer-policy
			a.footer-policy__link(href="") Политика конфиденциальности
			a.footer-policy__link(href="") Пользовательское соглашение
		.footer-social
			.footer-social__text Социальные сети
			.footer-social__links
				.footer-social__elem
					a(href="").footer-social__link
						+icon('social-inst')
				.footer-social__elem
					a(href="").footer-social__link
						+icon('social-vk')

.mobile.scroll
	.mobile-menu(data-mobile-menu)
		.mobile-menu-head
			.mobile-menu__logo(data-mobile-menu-logo="logo")
				+icon('logo')
			.mobile-menu__close(data-mobile-menu-close)
				+icon('close')
		.mobile-menu-body
			.mobile-menu-section.mobile-menu-section-city(data-mobile-menu="city")
			.mobile-menu-section.mobile-menu-section-search.dropdown(data-mobile-menu="search")
			.mobile-menu-section.mobile-menu-section-catalog(data-mobile-menu="catalog")
			.mobile-menu-section.mobile-menu-section-top-nav(data-mobile-menu="top-nav")
			.mobile-menu-section.mobile-menu-section-call(data-mobile-menu="call")
				.mobile-menu-section__inner(data-mobile-menu="call-links")
				.mobile-menu-section__inner(data-mobile-menu="call-tels")

.modal#callback.scroll
	.modal__inner
		.modal__head
			.modal__title
				| Закажите
				br
				=" "
				| обратный звонок
		.modal__body
			form.form.modal__form
				input(type="hidden", value="Закажите обратный звонок")
				.form_row
					.form_group
						label.form_label
							input.form_input(type="tel", name="modal-callback-tel", placeholder="+7 (ххх) ххх - хххх ")

				.form_row
					.form_group
						label.form_label.checkbox__label
							input.checkbox__input(type="checkbox", name="modal-callback-personal", id="modal-callback-personal", checked="checked")
							.checkbox__emulator
							.checkbox__text
								span Даю согласие на обработку
								=" "
								a(href="", target="_blank") персональных данных

				.form_row.form_submit
					.form_group
						input.button.button__arrow(type="submit", value="Перезвоните мне")

.modal#palich-email.scroll
	.modal__inner
		.modal__head
			.modal__title
				| Напишите
				br
				=" "
				| письмо Палычу
			.modal__text Есть вопрос или предложение? Напишите нам, мы обязательно ответим
		.modal__body
			form.form.modal__form
				input(type="hidden", value="Закажите обратный звонок")
				.form_row
					.form_group
						label.form_label
							input.form_input(type="text", name="modal-palich-email-name", placeholder="Ваше имя")
				.form_row
					.form_group
						label.form_label
							input.form_input(type="tel", name="modal-palich-email-tel", placeholder="+7 (ххх) ххх - хххх")

				.form_row
					.form_group
						label.form_label
							input.form_input(type="text", name="modal-palich-email-email", placeholder="Email")

				.form_row
					.form_group
						label.form_label
							textarea.form_input.form_textarea(name="modal-palich-email-comment", placeholder="Комментарий")

				.form_row
					.form_group
						label.form_label.checkbox__label
							input.checkbox__input(type="checkbox", name="modal-palich-email-personal", id="modal-palich-email-personal", checked="checked")
							.checkbox__emulator
							.checkbox__text
								span Даю согласие на обработку
								=" "
								a(href="", target="_blank") персональных данных

				.form_row.form_submit
					.form_group
						input.button.button__arrow(type="submit", value="Отправить")

.modal#thx-callback.scroll
	.modal__inner
		.modal__body
			.modal__thx
				.modal__thx__icon
					img(src="images/thx-callback.svg").modal__thx__img
				.modal__title
					| Спасибо
					br
					=" "
					| за обращение!

				.modal__text
					| Менеджер свяжется с вами
					br
					=" "
					| в ближайшее время

.modal#thx-palich-email.scroll
	.modal__inner
		.modal__body
			.modal__thx
				.modal__thx__icon
					img(src="images/thx-palich-email.svg")
				.modal__title
					| Спасибо
					br
					=" "
					| за обращение!

				.modal__text
					| Сообщение успешно
					br
					=" "
					| отправлено
