header.header
	.header-top
		.link-icon(data-tooltip="city")
			.link-icon__icon
				+icon('geotag')
			a(href="").link-icon__text Москва и МО

		.header-nav
			.header-nav__item.js-tooltip
				a(href="#").header-nav__item__link О компании
			.header-nav__item
				a(href="#").header-nav__item__link Магазины
			.header-nav__item
				a(href="#").header-nav__item__link Контакты

		.header-link__list
			.header-link__item
				.link-icon
					.link-icon__icon
						+icon('mail')
					a(href="").link-icon__text Письмо Палычу
			.header-link__item
				.js-popup(data-popup-id="callback").link-icon
					.link-icon__icon
						+icon('phone')
					a(href="").link-icon__text Обратый звонок

		.header-phone__list
			.header-phone__item
				.header-phone__item__label Горячая линия
				a(href="tel:8 (800) 555-81-63").header-phone__item__link 8 (800) 555-81-63
			.header-phone__item
				.header-phone__item__label Интернет-магазин
				a(href="tel:+7 999 999-99-99").header-phone__item__link +7 999 999-99-99

	.header-main
		.header-burger.js-tooltip(data-tooltip="catalog")
			a.header-nav__link(href="")
				+icon('menu')
		.header-logo
			img.header-logo__img(src="images/logo-with-text.svg")

		.header-search
			form(action="").header-search__form.form
				.form_group
					label.form_label
						input(type="text" placeholder="Введите название товара").header-search__input.form_input
						.header-search__icon
							button(type="submit").header-search__button
								+icon('search')
		.header-bar
			.header-bar__item
				.header-bar__item__icon
					+icon('percentage')
				a.header-bar__item__link(href="") Акции
			.header-bar__item
				.header-bar__item__icon
					+icon('delivery-company')
				a.header-bar__item__link(href="") Доставка до 90 мин.

		.header-cart
			.header-cart__counter
				.header-cart__icon
					+icon('cart')
				.header-cart__number 10
			.header-cart__price 12 450 ₽



