.catalog
	display: flex
	flex-wrap: wrap
	margin: 0 -15px
	&__list
		display: flex
		flex-wrap: wrap
		//margin: 0 -15px
	&__item
		padding: 0 15px
		position: relative
		margin-bottom: 30px
		@media #{$tablet}
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(10),
			&:nth-child(12),
			&:nth-child(14)
				.catalog__item__img
					img
						margin-left: 0
		&__inner
			//padding: 20px 25px
			padding-top: 40px
			position: relative
			height: 100%
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: space-between
		&__name
			font-size: 1.5rem
			line-height: 1.938rem
			color: var(--black)
			padding-left: 20px
			width: 90%
		&__img
			width: 100%
			img
				display: block
				font-size: 0
				max-width: 100%
				height: auto
				margin-left: auto
		&__size-1
			flex-basis: 25%
			max-width: 25%
			@media #{$tablet}
				flex-basis: 50%
				max-width: 50%
			@media #{$mobile-xs}
				flex-basis: 100%
				max-width: 100%
		&__size-2
			flex-basis: 50%
			max-width: 50%
			@media #{$mobile-xs}
				flex-basis: 100%
				max-width: 100%
		&__color-1
			background-color: var(--light-pink)
		&__color-2
			background-color: var(--sochperc)

	/* мобильное меню */
	&-mobile-menu
		width: 100%
		padding: 0 15px
		margin-bottom: 25px
		&__list
			display: flex
			align-items: center
			justify-content: space-between
		&__item
			display: flex
			align-items: center
		&-item
			&__icon
				margin-right: 5px
			&__text
				font-size: 1rem
				line-height: 1.313rem
				font-weight: bold
				color: var(--vinishkotyan)
		@media #{$mobile-above}
			display: none

	// теги
	&-tags
		padding: 0 15px
		margin-bottom: 30px
		flex-basis: 100%
		&__list
			display: flex
			flex-wrap: wrap
			align-items: center
		&__item
			&:not(:last-child)
				margin-right: 15px
		&__link
			font-size: 0.875rem
			line-height: 1rem

			display: inline-block
			border-radius: 30px
			background-color: var(--light-pink)
			color: var(--vinishkotyan)
			padding: 7px 14px
			width: auto
			&.active,
			&:hover
				background-color: var(--vinishkotyan)
				color: var(--light-pink)

			&.active
				&:after
					content: ""
					display: inline-block
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.08417 7.29289C0.693644 7.68342 0.693644 8.31658 1.08417 8.70711C1.47469 9.09763 2.10786 9.09763 2.49838 8.70711L5.29128 5.91421L8.08417 8.70711C8.47469 9.09763 9.10786 9.09763 9.49838 8.70711C9.88891 8.31658 9.88891 7.68342 9.49838 7.29289L6.70549 4.5L9.49838 1.70711C9.88891 1.31658 9.88891 0.683416 9.49838 0.292892C9.10786 -0.0976323 8.47469 -0.0976323 8.08417 0.292892L5.29127 3.08579L2.49838 0.292893C2.10786 -0.0976311 1.47469 -0.0976311 1.08417 0.292893C0.693644 0.683417 0.693644 1.31658 1.08417 1.70711L3.87706 4.5L1.08417 7.29289Z' fill='%23FDF0E2'/%3E%3C/svg%3E%0A")
					background-repeat: no-repeat
					background-position: center center
					width: 9px
					height: 9px
					margin-left: 10px
		@media #{$desktop}
			&__item
				margin-bottom: 15px

	// сортировка
	&-sort
		padding: 0 15px
		margin-bottom: 80px
		font-size: 1rem
		line-height: 1.375rem
		color: var(--black)

		display: flex
		align-items: center
		flex-basis: 100%

		&__inner
			display: flex
			align-items: center

		&__label
			font-weight: bold
			margin-right: 25px
		&__list
			display: flex
			align-items: center
		&__item
			margin-right: 25px
		&__link
			border-bottom: 1px dashed #000000
			&.active
				border-bottom: transparent

	&-filter
		padding: 0 15px
		flex-basis: 25%
		max-width: 25%
		@media #{$tablet}
			flex-basis: 33.3%
			max-width: 33.3%

	@media #{$mobile}
		&-tags,
		&-sort,
		&-filter
			display: none

	.products-catalog
		padding: 0 15px
		flex-basis: 75%
		max-width: 75%
		@media #{$tablet}
			flex-basis: 66.6%
			max-width: 66.6%
		@media #{$mobile}
			flex-basis: 100%
			max-width: 100%
		&__list
		.products
			&__item
				flex-basis: 33.3%
				max-width: 33.3%
			@media #{$tablet}
				&__item
					flex-basis: 50%
					max-width: 50%
					min-width: auto

	&-links
		@media #{$tablet-above}
			display: none
		//&__list
			display: flex
			flex-wrap: nowrap
		&__list
			padding-bottom: 15px
		.nav
			&-list
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				padding: 0 10px
			&-item
				margin-bottom: 0
				min-width: auto
				align-items: flex-start
				&:not(:last-child)
					margin-right: 25px
				&__link
					text-align: center
					display: inline-flex
					flex-direction: column
					align-items: center
					justify-content: center
					width: auto
					&:after
						display: none !important
				&__icon
					width: 54px
					height: 54px
					background: #FFFFFF
					box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)
					margin-bottom: 10px
					border-radius: 100%
					display: flex
					align-items: center
					justify-content: center
					margin-right: 0
				&__label
					font-size: 0.875rem
					line-height: 1rem
					color: var(--black)
					max-width: 99%
					min-width: 60px
					@media #{$mobile-xs}
						font-size: 0.75rem

