.dropdown
	position: relative
	cursor: pointer
	@media #{$laptop-above}
		&:after
			content: ""
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.16731 0.37207L16.2838 9.99989H0.0507812L8.16731 0.37207Z' fill='white'/%3E%3C/svg%3E%0A")
			background-repeat: no-repeat
			background-position: top center
			display: block
			width: 17px
			height: 10px
			filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.09))
			position: absolute
			z-index: 11
			left: 0
			right: 0
			margin: 0 auto
			opacity: 0
			transform: translateY(40px)
			transition: visibility 0s ease .2s, opacity .2s ease, transform .2s ease, width .2s ease
		&:not(.header-search):not(.header-bar__item):not(.cart-field__city):hover,
		&.is-open.header-search,
		&.is-open.header-bar__item,
		&.is-open.cart-field__city
			&:after
				opacity: 1
				visibility: visible
				transform: translateY(17px)
				transition: visibility 0s ease, opacity .2s ease, transform .2s ease, width .2s ease
		&.is-open.header-bar__item
			&:after
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.16731 0.37207L16.2838 9.99989H0.0507812L8.16731 0.37207Z' fill='#ffd400'/%3E%3C/svg%3E%0A")
		&.is-open.cart-field__city
			&:after
				transform: translateY(3px)
	&:not(.header-burger)
		//display: inline-flex
		//align-items: center
	.header-nav__item__link
		display: flex
		align-items: center
		&:after
			content: ""
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.778016 0.375548C1.09044 0.0501108 1.59697 0.0501108 1.90939 0.375548L4.5437 3.11963L7.17802 0.375548C7.49044 0.0501109 7.99697 0.0501109 8.30939 0.375548C8.62181 0.700985 8.62181 1.22862 8.30939 1.55406L5.10939 4.88739C4.79697 5.21283 4.29044 5.21283 3.97802 4.88739L0.778016 1.55406C0.465596 1.22862 0.465596 0.700984 0.778016 0.375548Z' fill='black'/%3E%3C/svg%3E%0A")
			width: 8px
			height: 5px
			display: inline-block
			margin-left: 5px
			transform-origin: center center
		&:hover
			&:after
				transform: rotate(180deg)
				transition: transform .2s ease
	&__heading
		font-size: 1.25rem
		line-height: 1.375rem
		font-weight: bold
		color: var(--black)
		margin-bottom: 15px

	//.link-icon__text,
	//.header-burger__link,
	//&.header-search


	.link-icon__text
		&:after
			margin-top: 4px
	&.header-search.is-open,
	&.header-bar__item.is-open
		&:after
			transform: translateY(6px)

	&-block
		//display: none
		opacity: 0
		visibility: hidden
		//filter: drop-shadow(0px 65px 270px rgba(0, 0, 0, 0.09)) drop-shadow(0px 27.1554px 112.8px rgba(0, 0, 0, 0.0646969)) drop-shadow(0px 14.5186px 60.308px rgba(0, 0, 0, 0.0536497)) drop-shadow(0px 8.13901px 33.8082px rgba(0, 0, 0, 0.045)) drop-shadow(0px 4.32257px 17.9553px rgba(0, 0, 0, 0.0363503)) drop-shadow(0px 1.79872px 7.47159px rgba(0, 0, 0, 0.0253031))
		box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)
		background-color: var(--white)
		position: absolute
		z-index: 10
		top: calc(100% + 10px)
		left: -15px

		transform: translateY(20px)
		transition: visibility 0s ease .4s, opacity .4s ease, transform .4s ease, width .4s ease

		&:before
			content: ""
			display: block
			width: 100%
			height: 10px
			margin-top: -10px
		&__inner
			padding: 20px

		//@media #{$laptop}
			opacity: 1
			visibility: visible

	&.is-open
		.dropdown-block
			opacity: 1
			visibility: visible
			transform: translateY(0)
			transition: visibility 0s ease, opacity .4s ease, transform .4s ease, width .4s ease
	@media #{$laptop-above}
		&:not(.header-search):not(.header-bar__item):not(.cart-field__city):hover,
		&.header-search.is-open,
		&.header-bar__item.is-open
			.dropdown-block
				opacity: 1
				visibility: visible
				transform: translateY(0)
				transition: visibility 0s ease, opacity .4s ease, transform .4s ease, width .4s ease
			.link-icon__text,
			.header-burger__link
				&:after
					opacity: 1
					visibility: visible
					transform: translateY(0)
			&.header-search
				.dropdown-block
					transform: translateY(6px)

	&.cart-field__city.is-open
		.dropdown-block
			opacity: 1
			visibility: visible
			transform: translateY(0)
			transition: visibility 0s ease, opacity .2s ease, transform .2s ease, width .2s ease
			left: 10px

	&-city
		min-width: 390px
		max-width: 390px
		@media(max-width: 840px)
			min-width: 350px
			max-width: 350px
		@media(max-width: 575px)
			min-width: 100%
			max-width: 100%

	// поиск с городами
	&-form
		.form_row
			&:not(:last-child)
				margin-bottom: 20px
		.form-search
			&__input
				border: 1px solid var(--light-grey)
				font-size: 0.875rem
				line-height: 1.375rem
				border-radius: 0
			&__icon
				margin-left: -33px
				.icon-search-new
					width: 16px
					height: 16px
					stroke: var(--vinishkotyan)
					line-height: 1
			&__button
				background-color: transparent
				cursor: pointer
				line-height: 1
		&-result
			font-size: 1rem
			line-height: 1.313rem
			color: var(--black)

			display: flex
			flex-wrap: wrap
			justify-content: flex-start
			//justify-content: space-between

			//flex-direction: column
			max-height: 350px
			//margin-bottom: -20px

			&__item
				//width: 100%
				flex-basis: 100%
				&:not(:last-child)
					margin-bottom: 20px
				&:not(:nth-child(n+9))
					//margin-right: 70px
				&__link
				//@media #{$mobile}
					max-width: 50%

	// многоуровненовое меню
	&-menu
		transition: visibility 0s ease .2s, opacity .2s ease, transform .2s ease, width .2s ease
		@media #{$mobile-above}
			min-width: 335px

	// поиск в шапке
	&-search
		padding: 10px
		padding-right: 15px
		min-width: 780px
		display: flex
		//flex-wrap: wrap
		@media #{$tablet}
			min-width: 89vw
		&__col
			&__left
				flex-basis: 215px
				padding-right: 50px
				display: flex
				flex-direction: column
				justify-content: space-between
			&__right
				width: 100%

		&-product
			&__list
				display: flex
				flex-direction: column
				width: 100%
				max-height: 475px
			&-item
				&:not(:last-child)
					margin-bottom: 20px
				&__link
					display: flex
					align-items: flex-start
				&__img
					padding-right: 30px
				&__info
				&__name
					margin-bottom: 5px
				&__price
					display: flex
					&__normal
						font-weight: bold
						font-size: 1.125rem
						line-height: 1.375rem
						color: var(--vinishkotyan)
					&__sale
						font-size: 0.75rem
						line-height: 1.375rem
						color: var(--black)
						margin-left: 5px
						text-decoration: line-through

	// доставка
	&-delivery
		min-width: 400px
		&__list
			display: flex
			flex-direction: column
			position: relative
		&__item
			display: flex
			align-items: center
			padding: 20px 20px 15px 20px

			cursor: pointer
			&__icon
				margin-right: 30px
				min-width: 164px
			&__text
				font-size: 1rem
				line-height: 1.375rem
			&:not(:last-child)
				border-bottom: 0.8px solid #E6E9EF
		.express-type
			//position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			z-index: 2

			display: none
			&.active
				display: flex
			.express-block
				width: 100%
	@media #{$tablet}
		&-delivery
			min-width: auto
	@media #{$mobile-xs}
		&-delivery
			//width: 100%
			&__item
				flex-direction: column
				align-items: flex-start
				padding: 10px
				&__icon
					margin-right: 0
					margin-bottom: 5px
				&__text
					font-size: .875rem
			.express-type
				.express-block
					padding: 30px 15px
				.express__close
					top: 10px
					right: 10px

	&-share


.header-bar__item .dropdown-block__inner
	padding: 0


.section-title .dropdown:hover:after
	transform: translateY(32px)

.dropdown[data-dropdown="delivery"] .dropdown-block
	left: -60px
	@media #{$laptop}
		left: initial
		right: 0
	@media #{$tablet}
		right: 15px
	@media #{$mobile-xs}
		max-width: 290px
		width: 100%
.dropdown[data-dropdown="search"] .dropdown-block
	@media #{$laptop}
		left: -50%
	@media #{$tablet}
		left: -34vw

.dropdown[data-dropdown="share"] .dropdown-block
	@media #{$mobile}
		left: initial
		right: 0
