.form
	&_group
	&_label
	&_input
		background-color: var(--white)
		height: 35px
		width: 100%
		padding: 6px 15px 8px
		&::placeholder
			font-size: 0.813rem
			line-height: 170%
			color: var(--gryaz-grey)
