.mobile
	.dropdown-block
		opacity: 1
		visibility: visible
		transform: translateY(0)
		position: relative
		top: 0
		left: 0
		display: none
	&-menu
	&-head
		&__burger
		&__logo
		&__search
		&-cart
			&__counter
			&__icon
			&__number
			&__close
	&__body
	&__section
		&__inner
