.modal
	display: none
	background-color: var(--light-pink)
	width: 100%
	height: 100%
	&__custom
		.fancybox-bg
			background-color: #fff
			opacity: 1
		.fancybox-slide
			padding: 40px 50px
		.fancybox-button svg path
			fill: #000000
	&__inner
		max-width: 400px
		//margin: 0 auto
	&__head
		margin-bottom: 25px
	&__title
		font-size: 2.25rem
		line-height: 1
		font-weight: bold
	&__text
		font-size: 1.125rem
		line-height: 1.688rem
		letter-spacing: 0.01em
	&__title + &__text
		max-width: 400px
		margin-top: 10px
		margin-top: 25px
	&__body
	&__form
		.checkbox__text a
			color: var(--vinishkotyan)
	&__thx
		text-align: center
		&__icon
			margin-bottom: 15px
		&__img
			max-width: 100%
			height: auto
	.button
		margin-top: 40px
		min-width: 220px
	.form_submit
		margin-top: 25px
	&.fancybox-content
		@media #{$mobile-above}
			display: inline-flex !important
			align-items: center
			justify-content: center
		&[id*="thx"]
			display: inline-flex !important
			align-items: center
			justify-content: center
	@media #{$mobile}
		&__custom
			.fancybox-slide
				padding: 10px
			.fancybox-content
				padding: 15px

	&.welcome
		padding-top: 165px
		padding-bottom: 76px
		align-items: flex-start
		@media #{$tablet}
			padding-top: 50px
			padding-bottom: 50px
		@media #{$mobile-xs}
			padding-top: 25px
		.fancybox-button
			right: 15px
			top: 25px
			width: 60px
			height: 65px
			@media #{$mobile-xs}
				top: 9px
		.modal__inner
			max-width: 1000px
		.city-choose
			background-color: var(--white)
			padding: 45px 65px
			max-width: 685px
			.form_row
				&:not(:last-child)
					margin-bottom: 20px
			.form-search
				&__input
					border: 1px solid var(--light-grey)
					font-size: 0.875rem
					height: 50px!important
					line-height: 50px
					padding: 0 28px
					border-radius: 0
				&__icon
					margin-left: -33px
					.icon-search-new
						width: 16px
						height: 16px
						stroke: var(--vinishkotyan)
						line-height: 1
						stroke-width: 1.5
				&__button
					background-color: transparent
					cursor: pointer
					line-height: 1
		.city-list
			column-gap: 20px
			&::-webkit-scrollbar
				width: 0
		.city-choose__title
			font-size: 1.5rem
			line-height: 2rem
			font-weight: bold
			margin-bottom: 20px
		.city-item
			&.is-active
				.city-link
					font-weight: bold
					color: var(--vinishkotyan)
					border-color: var(--vinishkotyan)
		.city-link
			display: inline
			border-bottom: 1px solid transparent
			transition: .2s
			&:hover
				border-bottom-color: var(--black)

		.modal__form
			max-width: 460px
		.button
			margin-top: 0
			min-width: auto
		.modal__text
			&:empty
				margin-bottom: 0
		@media #{$laptop}
			.modal__inner
				max-width: 100%
		@media #{$tablet}
			.city-choose
				padding: 30px 20px
		@media #{$mobile}
			.modal__inner
				max-width: 500px
			.modal__title
				font-size: 1.25rem
				line-height: 2.125rem
			.modal__text
				font-size: .875rem
				line-height: 1.375rem
			.city-choose
				padding-top: 15px
			.city-choose__title
				font-size: 1.25rem
				line-height: 2.125rem
				margin-bottom: 13px
.step
	margin-bottom: 46px
	.step-list
		display: flex
		align-items: center
		//padding-bottom: 15px
	.step-item
		position: relative
		min-width: 150px
		text-align: center
		&:not(:last-child)
			//margin-right: 50px
			margin-right: 20px

	.step-item__number
		min-width: 62px
		width: 62px
		height: 62px
		border-radius: 100%
		background-color: var(--white)
		margin: 6.5px auto 14px
		font-size: 1rem
		color: var(--vinishkotyan)

		position: relative

		display: flex
		align-items: center
		justify-content: center
	[data-step-number="2"]
		.step-item-delivery__picture
			//margin-top: -10px
		.step-item__number
			&:before,
			&:after
				content: ""
				top: 50%
				transform: translateY(-50%)
				display: block
				min-width: 75px
				width: 75px
				height: 16px
				background-image: url("data:image/svg+xml,%3Csvg width='89' height='17' viewBox='0 0 89 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.972639 9.02103C0.972639 8.46875 1.36904 8.02103 1.85803 8.02103L88.0873 7.46874C88.5762 7.46874 88.9727 7.91646 88.9727 8.46874C88.9727 9.02103 88.5762 9.46874 88.0873 9.46874L1.85803 10.021C1.36904 10.021 0.972639 9.57332 0.972639 9.02103Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M81.2632 0.792893C81.609 0.402369 82.1696 0.402369 82.5154 0.792893L88.7131 7.79289C89.0589 8.18342 89.0589 8.81658 88.7131 9.20711L82.5154 16.2071C82.1696 16.5976 81.609 16.5976 81.2632 16.2071C80.9175 15.8166 80.9175 15.1834 81.2632 14.7929L86.8349 8.5L81.2632 2.20711C80.9175 1.81658 80.9175 1.18342 81.2632 0.792893Z' fill='black'/%3E%3C/svg%3E%0A")
				background-repeat: no-repeat
				background-position: center
				background-size: contain
				position: absolute
				left: calc(100% + 18px)
			&:before
				left: initial
				right: calc(100% + 18px)
		&.active
			padding-top: 13px

	.step-item__name
		//position: absolute
		//bottom: -18px
		//left: 0
		//right: 0
		//margin: auto
	.step-item-delivery__picture
	.step-item-delivery__img

	&[data-step-number="2"]



	.step-item.active,
	.step-item.complete
		&:not(:last-child)
			//margin-right: 16px
		.step-item__number
			background-color: var(--vinishkotyan)
			color: var(--white)
			&:after
				left: calc(100% + 12px)
	.step-item.active
		.step-item__number
			min-width: 75px
			width: 75px
			height: 75px
			margin-top: 0
		.step-item__name
			font-weight: bold
			//transform: translateY(-6px)
	.current
		.step-item__name
			font-weight: bold

	@media #{$mobile}
		margin-bottom: 15px
		.step-item
			//min-width: 80px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			height: 100%
			&:not(:last-child)
				.step-item__number
					&:after
						min-width: 60px
						width: 60px
						background-position: center right
			&:not(:nth-child(2))
				min-width: calc((100% - 140px)/2)
			&:not(.active)
				.step-item__name
					position: relative
					bottom: -5px

	@media #{$mobile-xs}
		.step-item
			min-width: initial
			//max-width: 33.3%
			//flex-basis: 33.3%
			//width: 100%
			&:not(:last-child)
				margin-right: 10px
				.step-item__number
					&:after
						min-width: 35px
						width: 35px
						background-size: auto
			&.active
				.step-item__number
					min-width: 54px
					width: 54px
					height: 54px
					margin-top: 0
			//&.complete[data-step-number="2"]
			//	max-width: 120px
			//	flex-basis: 120px
		.step-item__number
			min-width: 44px
			width: 44px
			height: 44px
			margin-top: 5px

		.step-item-delivery__img
			max-width: 120px
		.step-item__name
			font-size: .75rem
			line-height: 1.125rem

.step-back
	margin-top: 50px
	.step-back__link
		font-size: .75rem
		line-height: .875rem
		color: var(--black)
		display: inline-block
		text-align: right
		max-width: 65px
		cursor: pointer
		&:before
			content: ""
			min-width: 65px
			width: 65px
			height: 16px
			display: inline-block
			background-image: url("data:image/svg+xml,%3Csvg width='66' height='16' viewBox='0 0 66 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.21086 15.7071C8.60139 16.0976 9.23455 16.0976 9.62508 15.7071C10.0156 15.3166 10.0156 14.6834 9.62508 14.2929L4.36343 9.03124L64.918 9.03124C65.4703 9.03124 65.918 8.58352 65.918 8.03124C65.918 7.47895 65.4703 7.03124 64.918 7.03124L4.30094 7.03124L9.62508 1.7071C10.0156 1.31658 10.0156 0.683412 9.62508 0.292888C9.23455 -0.0976364 8.60139 -0.0976365 8.21086 0.292888L1.21086 7.29289C1.01163 7.49212 0.914033 7.75452 0.918092 8.01562C0.918015 8.02082 0.917969 8.02602 0.917969 8.03124C0.917969 8.38322 1.09982 8.69273 1.3747 8.87094L8.21086 15.7071Z' fill='black'/%3E%3C/svg%3E%0A")
			background-repeat: no-repeat
			background-position: center

	@media #{$mobile-xs}
		margin-top: 0
		margin-bottom: 10px


.delivery
	.delivery-list
		display: flex
	.delivery-item
		max-width: 320px
		min-height: 375px
		width: 100%
		padding: 40px
		background-color: var(--white)
		&:not(:last-child)
			margin-right: 20px
	.delivery-item__inner
		position: relative
		height: 100%
	.delivery-item__picture
		margin-bottom: 20px
	.delivery-item__img
		max-width: 100%
		height: auto
		&--mobile
			display: none
	.delivery-item__text
		font-size: 1rem
		line-height: 1.5rem
		margin-bottom: 28px
	.delivery-item__subtext
		font-size: .875rem
		line-height: 1.063rem
		margin-bottom: 10px
		&--mobile
			font-size: 13px
			line-height: 1rem
			color: #000
			margin-bottom: 10px
			display: none
	.delivery-item__advant
		background-color: #FFB800
		display: inline-block
		margin-bottom: 10px
		padding: 5px 10px
		font-size: .75rem
		line-height: .875rem
		font-weight: bold
		color: var(--white)
	.delivery-item__url
		width: 100%
		.button
			width: 100%
			height: 40px
			padding: 10px
			display: flex
			align-items: center
			justify-content: center
	.delivery-item__status
		min-height: 40px
		display: flex
		align-items: center
		justify-content: center
		&.soon
			font-weight: bold
			font-size: 1.125rem
			line-height: 23px
			color: #A70230
			opacity: 0.8
			&:before
				content: ""
				display: inline-block
				background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='6' stroke='%23A70230' stroke-width='2'/%3E%3Cpath d='M6.53369 4.66663V7.46663H8.40036' stroke='%23A70230' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
				background-repeat: no-repeat
				background-position: center
				height: 14px
				width: 14px
				min-width: 14px
				margin-right: 5px
	.delivery-item__url,
	.delivery-item__status
		position: absolute
		bottom: 0
		left: 0
		right: 0
	.delivery-item__link
		font-size: .875rem
		line-height: 1rem
		font-weight: bold
		color: var(--vinishkotyan)
		&:after
			content: ""
			display: inline-block
			margin-left: 10px
			width: 20px
			height: 10px
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1088 0.773869C15.796 0.480976 15.2889 0.480976 14.9762 0.773869C14.6634 1.06676 14.6634 1.54164 14.9762 1.83453L17.8613 4.53638L1.66026 4.53638C1.21794 4.53638 0.859375 4.87217 0.859375 5.28638C0.859375 5.70059 1.21794 6.03638 1.66026 6.03638L17.8994 6.03638L14.9762 8.77387C14.6634 9.06676 14.6634 9.54164 14.9762 9.83453C15.2889 10.1274 15.796 10.1274 16.1088 9.83453L20.3802 5.83453C20.5416 5.68336 20.6197 5.48372 20.6145 5.28564C20.6142 5.02953 20.4769 4.80348 20.2675 4.66835L16.1088 0.773869Z' fill='%23A70230'/%3E%3C/svg%3E%0A")
			background-repeat: no-repeat
			background-position: center
	@media #{$laptop}
		.delivery-item
			max-width: 33%
			padding: 25px
			min-height: 270px
	@media #{$tablet}
		.delivery-list
			flex-wrap: wrap
			margin: 0 -10px
		.delivery-item
			max-width: calc(50% - 20px)
			padding: 15px
			margin: 0 10px !important
			text-align: center
			&:not(:last-child)
				margin-right: 0
				margin-bottom: 20px !important
		.delivery-item__picture
			margin-bottom: 3px
		.delivery-item__text
			display: none
		.delivery-item__url,
		.delivery-item__status
			position: relative
		.delivery-item__url
			.button
				max-width: 150px
				margin: 0 auto
	@media #{$mobile}
		.delivery-list
			margin: 0
			background-color: #fff
			padding: 20px 25px
		.delivery-item
			max-width: 100%
			margin: 0 !important
			padding: 0
			min-height: auto
			&:not(:last-child)
				border-bottom: 1px solid #E6E9EF
				margin-bottom: 13px !important
				padding-bottom: 13px
		.delivery-item__img
			display: none
			&--mobile
				display: inline-block
		.delivery-item__subtext
			display: none
			&--mobile
				display: inline-block
		.delivery-item__text
			height: auto !important
