.news
	&-list
		display: flex
		align-items: flex-start
		flex-wrap: wrap
		margin: 0 -15px
	&-item
		flex-basis: 33.333%
		max-width: 33.333%
		width: 100%
		padding: 0 15px
		position: relative
		&__img,
		&__name,
		&__excerpt
			margin-bottom: 25px
		&__date
			font-size: 1.125rem
			line-height: 1.438rem
			font-weight: bold
