.shops
	&-search
		margin-right: 30px
		max-width: 360px
		width: 100%
	&-nav
		padding: 15px 30px
		background-color: var(--vinishkotyan)
		display: flex
		align-items: center
		color: #fff
		&__list
			display: flex
			align-items: center
		&__item
			display: flex
			align-items: flex-end
			cursor: pointer
			&:not(:last-child)
				margin-right: 20px
			&:hover,
			&.active
				color: var(--yellow)
				svg
					fill: var(--yellow)

		&__icon
			margin-right: 5px
			svg
				fill: white
		&__text
			font-size: 1rem
			line-height: 1.313rem

	@media #{$tablet}
		&-search
			max-width: 100%
			margin-right: 0
			margin-bottom: 20px
		&-nav
			flex-wrap: wrap
			padding: 25px
			overflow-x: auto
			&__item
				white-space: nowrap


	&-content
		&-tab
			opacity: 0
			visibility: hidden
			height: 0
			padding-top: 10px
			&.active
				opacity: 1
				visibility: visible
				height: auto
	&-list
		max-height: 650px
		&-item
			display: flex
			align-items: center
			padding: 33px 0
			cursor: pointer
			&:not(:last-child)
				border-bottom: 1px solid var(--light-grey)
			&__el
				display: inline-flex
				align-items: center
				font-size: 1.125rem
				color: var(--black)
				@media #{$mobile-above}
					padding-right: 15px
					margin-right: 8px
			&__address
				flex-direction: column
				align-items: flex-start
				flex-grow: 1
				&__text
					line-height: 1.438rem
					letter-spacing: 0.01em
					margin-bottom: 3px
				&__type
					font-size: 1rem
					line-height: 1
					color: var(--color-grey)
			&__time
				min-width: 275px
				&__icon
					margin-right: 6px
			&__tel
				min-width: 260px
				&__icon
					margin-right: 3px
				&__text

			@media #{$laptop}
				&__time
					min-width: 225px

			@media #{$tablet}
				padding: 20px 0
				&__el
					font-size: 1rem

			@media #{$mobile}
				flex-direction: column
				align-items: flex-start
				flex-wrap: wrap
				&__time
					margin-bottom: 15px
				&__address
					margin-bottom: 10px
					max-width: 100%
					flex-grow: initial
		//@media #{$mobile-xs}
			&-item
				//white-space: nowrap
				flex-direction: column
				align-items: flex-start
				&__address
					margin-bottom: 10px
				&__time
					margin-bottom: 15px


